name: Run Unity Tests

on:
  push:

jobs:   
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
        - name: Checkout Repo
          uses: actions/checkout@v4

        - name: Setup Environment
          run: |
            mkdir Package~
            mv Editor Package~/
            mv Runtime Package~/
            mv Tests Package~/
            mv package.json Package~/package.json         

        - name: Run Tests
          uses: game-ci/unity-test-runner@v4
          env:
            UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
            UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
            UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          with:             
            packageMode: true
            projectPath: Package~/
            testMode: playmode
            unityVersion: 2022.3.16f1
